<ul>
  <% @launchData.each do |launch| %>
    <li>
      <h2><%= launch[:name] %></h2>
      <p>Mission: <%= launch[:mission] %></p>
      <p>Launch Date: <%= launch[:launch_date] %></p>
      <p>Status: <%= launch[:status] %></p>
      <p>Location: <%= launch[:location] %></p>
    </li>
  <% end %>
</ul>