<% @launchData.each do |launch| %>
  <div class="container mx-auto">
    <div class="flex flex-col">
      <div class="bg-dark shadow-md rounded-lg overflow-hidden">
        <div class="p-4">
          <%= image_tag launch[:image], alt: "Rocket" %>
          <h2 class="text-lg font-semibold"><%= launch[:rocketname] %></h2>
          <p>Launch Agency: <%= launch[:lsp] %></p>
          <p>Mission: <%= launch[:mission] %></p>
          <p>Launch Date: <%= launch[:launch_date] %></p>
          <p>Status: <%= launch[:status] %></p>
          <p>Location: <%= launch[:location] %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>