<!DOCTYPE html>
<html>
  <head>
    <title>LaunchMonitor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1 class="text-4xl sm:text-5xl text-center my-3">LaunchMonitor</h1>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="content">
        <%= yield %>
      </div>
    </main>
    <footer>
      <p class="text-center my-4">&copy;<%= Time.now.year %> <%= link_to "Adrian Grimm", "https://adriangrimm.com" %></p>
  </body>
</html>
